.vscode
potential_customers_insurance.csv
credit_template.txt
potential_customers_credit.csv
potential_customers_pension.csv
client_secret_877978268111-udlukms0jiq8rcg1hbioglnqm0ud76uj.apps.googleusercontent.com.json

